/**
 * All of the CSS for your public-facing functionality should be
 * included in this SASS file.
 */

  .kelkoo-group-shopping  {

     color: pink;

     .orange {
       color: orange;
       background: #FFF;
     }
  }
